@import '../font/cmun-serif/cmun-serif.css';

body {
  width:715px;
  margin:auto;
  font-family:'Computer Modern Serif','serif';
}

h2 {
  font-size:1.17em;
  margin-top:1em;
  margin-bottom:1em;
}

footer { margin-top:20px; }
header,footer { text-align:center; }
details>summary { list-style:none; }

#sharp { font-family:'Times New Roman','serif' }

.educationListItem { margin-bottom:10px }

.employerName,
.educatorName  { font-weight:bold; }

.employedDateRange,
.employedLocation,
.educatedDateRange,
.certifiedDate      { float:right; }

.educatedDateRange,
.employedLocation,
.employedRole,
.certifiedDate      { font-style:italic; }
